<% if resource.errors.any? %>
  <div class="error-alert">
    <div id="error_explanation" data-turbo-cache="false">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li class='error-message'><%= message %></li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>
