.footer {
  background: #b69b63;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


.footer-link {
  text-decoration: none;
  color: #6d4845;
  font-size: 18px;
  font-weight: 500;
}