
<%= render 'shared/header' %>
<div class='index-main'>

  <div class="calendar">
    <div class="calendar-header">
      <div id="prev-btn", class="prene-btn">←</div>
      <div class="month-y", id="month-year"></div>
      <div class="month-select"></div> <!-- プルダウンメニューの要素 -->
      <div id="next-btn", class="prene-btn">→</div>
    </div>
    <div class="day-header">
      <div class="day">Sun</div>
      <div class="day">Mon</div>
      <div class="day">Tue</div>
      <div class="day">Wed</div>
      <div class="day">Thu</div>
      <div class="day">Fri</div>
      <div class="day">Sat</div>
    </div>
    <div class="calendar-body">
      <!-- 日付部分 -->
    </div>
  </div>
  <div class="right_menu">
    <%= link_to "Write", new_schedule_path, class: "new feather-icon-container" %>
    <%= image_tag "feather.png", class:"feather-icon" %>
  </div>
</div>
<%= render 'shared/footer' %>
