<%# CSS・・・assets/stylesheets/shared/footer.css %>

<div class='footer'>
  <div class='footer-contents'>
    <%= link_to 'chroniquillについて', "#", class: "footer-link" %>
  </div>
  <div class='footer-sign'>
    © Chroniquill
  </div>
</div>