<%# CSS・・・assets/stylesheets/shared/header.css %>

<header class='top-page-header'>
  <div class='header-right'>
    <%= image_tag "header-title.png", class:"title-icon" %>
    <div class='top-title'>
    <%= link_to 'Chroniquil', root_path, class:"t-title" %>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class='top-logout'>
    <%= link_to 'Close the Chroniquil', destroy_user_session_path, method: :delete, class: "logout" %>
  </div>
  <% else %>
  <% end %>
</header>