/*                                        */
/*               indexの記述               */
/*                                        */


.index-main {
  background-color: #e8d6ae;
  max-width: 100vw;
  height: calc(100vh - 130px);
  overflow-x: auto;
  display: flex;
}

.calendar {
  width: 1260px;
  margin-left: 30px;
}

.right_menu {
  width: 100px;
  height: 100px;
  margin-top: 80px;
  margin-left: 40px;
  display: flex;
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}

a.new {
  font-size: 24px;
  padding: 30px;
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  background-color: #4d3614;
  text-decoration: none;
  color: #edeaec;
  font-weight: 500;
  transition: all 0.6s ease;
}

.feather-icon {
  position: relative;
  bottom: 45px;
  right: 15px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0;
  transition: all 0.4s ease;

}

a.new:hover {
  color: #edeaec;
  border-radius: 54% 46% 38% 62%/49% 70% 40% 51%;
}

.right_menu:hover .feather-icon {
  opacity: 1;
}

.calendar-header {
  width: 20%;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #edeaec;
  background-color: #4d3614;
}

.prene-btn {
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.month-y {
  display: none;
}

.month-select {
  line-height: 20px;
  font-size: 20px;
}

.calendar-body {
  width: 1260px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: solid #b69b63;
  border-width: 2px 0 0 2px;
}

.day-header {
  width: 1260px;
  display: flex;
  justify-content: space-between;
}

.day {
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  width: 180px;
}

.date {
  width: 180px;
  /* カレンダーの日付部分の幅 */
  height: 100px;
  /* カレンダーの日付部分の高さ */
  padding-left: 5px;
  /* カレンダーの日付部分の内部余白 */
  border: solid #b69b63;
  border-width: 0 2px 2px 0;
  /* カレンダーの日付部分の境界線 */
  font-weight: 500;
  position: relative;
}

.prev-month {
  color: rgba(109, 73, 69, 0.5);
}

/* 今日の日付に適用するスタイル */
.today {
  background-color: rgba(172, 41, 30, 0.5);
}

.event-ul {
  position: absolute;
  bottom: 8px;
  right: 5px;
  display: inline-block;
  overflow: auto;
  max-height: 80px;
}

.event-list {
  list-style-type: none;
  width: 130px;
  font-size: 12px;
  color: #edeaec;
  background-color: rgba(109, 73, 69, 0.5);
  border-radius: 10px;
  padding: 1px 5px;
  margin-top: 5px;
  /* はみ出した部分を...と表示 */
  text-overflow: ellipsis;
  /* 横幅内に収めるために改行を禁止 */
  white-space: nowrap;
  /* 必要な幅だけを表示 */
  overflow: hidden;
  cursor: pointer;
}


/*                                        */
/*                newの記述                */
/*                                        */

.new-main {
  background-color: #e8d6ae;
  max-width: 100vw;
  height: calc(100vh - 130px);
  overflow-x: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.schedule-form {
  width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4d3614;
  color: #edeaec;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}