.index-sub {
  background-color: #e8d6ae;
  max-width: 100vw;
  height: calc(100vh - 70px);
  overflow: auto;
  display: flex;
  padding: 30px;
}

.journal {
  width: 900px;
  height: calc(100vh - 70px);
  margin-left: 30px;
  padding-bottom: 30px;
}

.event-acbox .acbox-item {
  list-style: none;
}

#scr-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #00426d;
  font-family: 'Slackside One', cursive;
  color: #edeaec;
  font-size: 40px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}

.head-bj {
  display: inline-block;
  position: relative;
  transform: rotate(-5deg);
  padding: .5em .7em;
  border-left: 2px dotted rgba(232, 215, 175, 0.6);
  border-right: 2px dotted rgba(232, 215, 175, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  background-color: rgba(0, 66, 109, 0.8);
  font-size: 25px;
  color: #edeaec;
  margin-bottom: 30px;
}

.date-month {
  font-size: 30px;
  font-weight: 500;
}

.fade-text a {
  text-decoration: none;
  color: #4d3614;
  font-weight: 500;
}

/*                                        */
/*               フェードイン               */
/*                                        */

.fade-text {
  display: block;
  color: transparent;
  font-size: 18px;
  padding-left: 10px;
  line-height: 1.4;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300% 300%;
  position: relative;
  display: block;

  &.to__bottom {
    background-image: linear-gradient(to bottom,
        #4d3614 30%,
        rgba(78, 55, 20, 0) 70%);
    background-position: center 100%;
    transform: translate(0, -20px);
    animation: toBottom var(--duration, 2.4s) var(--ease) var(--delay, 0.6s) forwards;
  }
}

@keyframes toBottom {
  100% {
    transform: translate(0, 0);
    background-position: center 0%;
  }
}

/*                                        */
/*           アコーディオンボックス           */
/*                                        */

.event-acbox {
  padding: 10px;
}

.acbox-item {
  width: 800px;
  font-size: 20px;
  border-bottom: 2px solid #b69b63;
  margin-bottom: 20px;
}

.event-acbox input {
  display: none;
}

.date-day {
  width: 120px;
  font-weight: 300;
}

.event-acbox .acbox-under {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}

.event-acbox input:checked~div {
  height: auto;
  padding: 10px 0;
  padding-left: 40px;
  opacity: 1;
}

.event-acbox .acbox-item {
  font-size: 15px;
  color: #4d3614;
  font-weight: 400;
}

.select-month {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 30px;
}

.select-month::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #8d6865;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.select-month select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: none;
  border-bottom: 2px solid #00426d;
  background-color: #e8d6ae;
  color: #6d4845;
  font-size: 1em;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.select-month select:focus {
  outline: none;
}