.journal {
  height: calc(100vh - 70px);
  margin-left: 30px;
  padding: 30px 0 30px 30px;
}

.category {
  width: calc(100vw - 900px);
}

#scr-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #00426d;
  font-family: 'Slackside One', cursive;
  color: #edeaec;
  font-size: 40px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}

.title-bj {
  display: inline-block;
  position: relative;
  transform: rotate(-5deg);
  padding: .5em .7em;
  border-left: 2px dotted rgba(232, 215, 175, 0.6);
  border-right: 2px dotted rgba(232, 215, 175, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  background-color: rgba(0, 66, 109, 0.8);
  font-size: 25px;
  color: #edeaec;
  margin-bottom: 30px;
}

.date-month {
  font-size: 30px;
  font-weight: 500;
}

.date-ed-de a,
.cat-ed-de a {
  text-decoration: none;
}

.event-edit {
  background-color: rgba(109, 73, 69, 0.7);
  color: #edeaec;
  padding: 2px 10px;
  border-radius: 30px;
}

.event-delete {
  background-color: rgba(172, 41, 30, 0.8);
  color: #edeaec;
  padding: 2px 10px;
  border-radius: 30px;
}

/*                                        */
/*               フェードイン               */
/*                                        */

.fade-text {
  display: block;
  color: transparent;
  font-size: 18px;
  padding-left: 10px;
  line-height: 1.4;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300% 300%;
  position: relative;
  display: block;

  &.to__bottom {
    background-image: linear-gradient(to bottom,
        #4d3614 30%,
        rgba(78, 55, 20, 0) 70%);
    background-position: center 100%;
    transform: translate(0, -20px);
    animation: toBottom var(--duration, 2.4s) var(--ease) var(--delay, 0.6s) forwards;
  }
}

@keyframes toBottom {
  100% {
    transform: translate(0, 0);
    background-position: center 0%;
  }
}

/*                                        */
/*           アコーディオンボックス           */
/*                                        */

.event-acbox {
  padding: 10px;
}

.acbox-item {
  width: 800px;
  border-bottom: 2px solid #b69b63;
  margin-bottom: 20px;
}

.event-acbox input {
  display: none;
}

.date-day {
  width: 200px;
  font-weight: 300;
}

.date-cat {
  width: 200px;
  font-size: 16px;
  margin-left: 10px;
}

.date-content {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.event-acbox .acbox-under {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}

.event-acbox input:checked~div {
  height: auto;
  padding: 10px 0;
  padding-left: 40px;
  opacity: 1;
}


/*                                         */
/*              カテゴリーリスト              */
/*                                         */

.category_list {
  margin-left: 40px;
}

.category-contents {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

ul.cat-ul li {
  position: relative;
  padding: 0.5em 1em 0.5em 2.3em;
  margin-bottom: 5px;
  color: rgb(129, 194, 250);
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid rgba(129, 194, 250, 0.5);
}

ul.cat-ul li:after,
ul.cat-ul li:before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.cat-ul li:before {
  top: 0.7em;
  left: 0.2em;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(129, 194, 250, 0.5);
}

ul.cat-ul li:after {
  top: 0.9em;
  left: 0.7em;
  width: 14px;
  height: 14px;
  background: rgba(129, 194, 250, 0.3);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}