.calendar {
  width: 1300px;
}

/*                                        */
/*                タブリスト                */
/*                                        */

.tabs {
  margin: 0;
  padding: 0;
}

.tabs li {
  list-style-type: none;
  display: inline-block;
  background: #6d4845;
  margin: 0;
  padding: .5em 1.5em;
  border-radius: .5em .5em 0 0;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.tab-panels ul li:hover {
  filter: brightness(80%);
}

.tabs li.active {
  filter: brightness(80%);
}

.tab-panels .calendar-panel {
  width: 1260px;
  display: none;
  grid-template-columns: repeat(7, 1fr);
  border: solid #b69b63;
  border-width: 2px 0 0 2px;
  padding-bottom: 20px;
}

.tab-panels .calendar-panel.active {
  display: grid;
}


/*                                        */
/*                カレンダー                */
/*                                        */


.calendar-header {
  width: 10%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #edeaec;
  background-color: #4d3614;
  margin-top: 10px;
}

.prene-btn {
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.month-y {
  display: none;
}

.calendar-body {
  width: 1260px;
}

.day-header {
  width: 1260px;
  display: flex;
  justify-content: space-between;
}

.day {
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  width: 180px;
}

.date,
.all-date {
  width: 180px;
  /* カレンダーの日付部分の幅 */
  height: 100px;
  /* カレンダーの日付部分の高さ */
  padding-left: 5px;
  /* カレンダーの日付部分の内部余白 */
  border: solid #b69b63;
  border-width: 0 2px 2px 0;
  /* カレンダーの日付部分の境界線 */
  font-weight: 500;
  position: relative;
}

.prev-month {
  color: rgba(109, 73, 69, 0.5);
  width: 180px;
  /* カレンダーの日付部分の幅 */
  height: 100px;
  /* カレンダーの日付部分の高さ */
  padding-left: 5px;
  /* カレンダーの日付部分の内部余白 */
  border: solid #b69b63;
  border-width: 0 2px 2px 0;
  /* カレンダーの日付部分の境界線 */
  font-weight: 500;
  position: relative;
}

/* 今日の日付に適用するスタイル */
.today {
  background-color: rgba(172, 41, 30, 0.5);
}

.event-ul,
.all-event-ul {
  position: absolute;
  bottom: 8px;
  right: 5px;
  display: inline-block;
  overflow: auto;
  max-height: 80px;
}

.event-list,
.all-event-list {
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  color: #edeaec;
  background-color: rgba(109, 73, 69, 0.5);
  border: 1px solid rgba(109, 73, 69, 0.5);
  border-radius: 10px;
  padding: 1px 5px;
  margin-top: 5px;
  /* はみ出した部分を...と表示 */
  text-overflow: ellipsis;
  /* 横幅内に収めるために改行を禁止 */
  white-space: nowrap;
  /* 必要な幅だけを表示 */
  overflow: hidden;
  cursor: pointer;
}