.journal {
  width: 800px;

}

.category {
  margin-left: 40px;
  padding-right: 30px;
}

#scr-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #00426d;
  font-family: 'Slackside One', cursive;
  color: #edeaec;
  font-size: 40px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}

.title-bj {
  display: inline-block;
  position: relative;
  transform: rotate(-5deg);
  padding: .5em .7em;
  border-left: 2px dotted rgba(232, 215, 175, 0.6);
  border-right: 2px dotted rgba(232, 215, 175, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  background-color: rgba(0, 66, 109, 0.8);
  font-size: 25px;
  color: #edeaec;
  margin-bottom: 30px;
}

.date-month {
  font-size: 30px;
  font-weight: 500;
}

.date-ed-de a,
.cat-ed-de a {
  text-decoration: none;
  font-weight: 300;
}

.event-edit {
  background-color: rgba(109, 73, 69, 0.7);
  color: #edeaec;
  padding: 2px 10px;
  border-radius: 30px;
}

.event-delete {
  background-color: rgba(172, 41, 30, 0.8);
  color: #edeaec;
  padding: 2px 10px;
  border-radius: 30px;
}

/*                                        */
/*               フェードイン               */
/*                                        */

.fade-text {
  display: block;
  color: transparent;
  font-size: 18px;
  padding-left: 10px;
  line-height: 1.4;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300% 300%;
  position: relative;
  display: block;

  &.to__bottom {
    background-image: linear-gradient(to bottom,
        #4d3614 30%,
        rgba(78, 55, 20, 0) 70%);
    background-position: center 100%;
    transform: translate(0, -20px);
    animation: toBottom var(--duration, 2.4s) var(--ease) var(--delay, 0.6s) forwards;
  }
}

@keyframes toBottom {
  100% {
    transform: translate(0, 0);
    background-position: center 0%;
  }
}

/*                                        */
/*           アコーディオンボックス           */
/*                                        */

.event-acbox {
  padding: 10px;
}

.acbox-item {
  width: 800px;
  border-bottom: 2px solid #b69b63;
  margin-bottom: 20px;
}

.event-acbox input {
  display: none;
}

.date-day {
  width: 200px;
  font-weight: 300;
}

.date-cat {
  width: 200px;
  font-size: 16px;
  margin-left: 10px;
}

.date-content {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.event-acbox .acbox-under {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}

.event-acbox input:checked~div {
  height: auto;
  padding: 10px 0;
  padding-left: 40px;
  opacity: 1;
}


/*                                         */
/*              カテゴリーリスト              */
/*                                         */

.category_list {
  margin-left: 40px;
}

.new-form-cat {
  width: 200px;
  float: right;
}

.form-cat {
  outline: none;
  width: 150px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 111, 95, 0.8);
  background-color: transparent;
}

.cat-btn {
  text-decoration: none;
  background-color: rgba(0, 111, 95, 0.6);
  color: #4d3614;
  line-height: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

ul.catlist li:after,
ul.catlist li:before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.catlist li:before {
  top: 0.7em;
  left: 0.2em;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(0, 66, 109, 0.7);
}

ul.catlist li:after {
  top: 0.9em;
  left: 0.7em;
  width: 14px;
  height: 14px;
  background: rgba(0, 111, 95, 0.4);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}


.category-contents {
  width: 200px;
  margin-bottom: 5px;
  font-size: 15px;
  border-bottom: 1px solid rgba(0, 111, 95, 0.8);
  white-space: nowrap;
  position: relative;
  line-height: 24px;
  margin: 0 0 12px 0;
  color: #4d3614;
  display: flex;
}

.cat-de {
  color: transparent;
}

/*                                        */
/*           カテゴリー削除のアニメ           */
/*                                        */

.category-contents span {
  display: block;
  overflow: hidden;
  transition: transform .3s ease .1s, opacity .5s ease .3s;
}

.category-contents span:nth-child(1) {
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 1;
  height: 12px;
  transform-origin: left bottom;
}

.category-contents span:nth-child(2) {
  position: relative;
  left: 30px;
  transform-origin: left center;
}

.category-contents span:nth-child(2):before {
  content: '';
  left: 0;
  top: 0;
  right: 0;
  height: 12px;
  background: #e8d6ae;
  position: absolute;
  display: block;
}

.category-contents:last-child {
  margin-bottom: 0;
}

.category-contents .line {
  border-radius: 2px;
  background: #F26175;
  height: 2px;
  margin: -1px -55px 0 20px;
  top: 50%;
  right: 6px;
  position: absolute;
  z-index: 1;
}

.cat-ed-de {
  position: relative;
  width: 20px;
  height: 20px;
  left: 30px;
  margin: 2px 0 0 8px;
  cursor: pointer;
  opacity: .5;
  transition: all .3s ease;
}

.cat-ed-de:before,
.cat-ed-de:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 2px;
  background: #F26175;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  transition: all .5s ease;
}

.cat-ed-de:before {
  width: 10px;
  height: 2px;
}

.cat-ed-de:after {
  height: 10px;
  width: 2px;
}

.cat-ed-de.active:before,
.cat-ed-de.active:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.cat-ed-de.active:after {
  opacity: 0;
}

.category-contents .cat-ed-de:hover {
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

.category-contents.slice span {
  opacity: 0;
}

.category-contents.slice span:nth-child(1) {
  transform: rotate(-7deg) translate(0, -3px);
}

.category-contents.slice span:nth-child(2) {
  transform: rotate(7deg) translate(0, 2px);
}

.category-contents.beforeSlice .cat-ed-de:before,
.category-contents.beforeSlice .cat-ed-de:after {
  display: none;
}